/* Corpo da página */
body {
    background-color: red;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Título principal */
h1 {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
    color: rgb(0, 0, 0);
}

.caixa-texto {
    background-color: blueviolet;
    border: 2px solid red;
    border-radius: 12px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Galeria de imagens */
.Galeria-imagem {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    max-width: 1200px;
    margin: 20px auto;
}

.Galeria-imagem img {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.Galeria-imagem img:hover {
    transform: scale(1.05);
}

/* Retângulo vertical esquerdo */
.retangulo-esquerdo {
    position: fixed;      /* Fixa na tela */
    top: 0;
    left: 0;              /* Colado na esquerda */
    width: 100px;         /* Largura do retângulo */
    height: 100vh;        /* Altura total da tela */
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 6px solid black;
}

/* Retângulo vertical direito */
.retangulo-direito {
    position: fixed;
    top: 0;
    right: 0;             /* Colado na direita */
    width: 100px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 6px solid black;
}
